<div class="container my-5">
    {{#if logo}}
    <div class="row d-flex justify-content-end">
        <div class="col-2">
            Bienvenido {{logo}} Rol:{{rol}}
        </div>
    </div>
    <div class="row d-flex justify-content-end text-decoration-underline">
        <div class="col-2">
            <a href="http://localhost:8080/logout"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                    <path fill-rule="evenodd"
                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                </svg> Cerrar Sesion</a>
        </div>
    </div>
    {{/if}}

    <div class="row my-5">
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Orden de Compra</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Codigo: {{order.code}}</th>
                    </tr>
                    <tr>
                        <th scope="row">Fecha: {{order.purchase_datetime}}</th>
                    </tr>
                    <tr>
                        <th scope="row">Total: {{order.amount}}</th>
                    </tr>
                    <tr>
                        <th scope="row">Email: {{order.purchaser}}</th>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h3>Los siguientes articulos no fueron incluidos en la compra</h3>
            <ul class="list-group list-group-flush">
            {{#each items}}
            
                <li class="list-group-item">{{this.title}}</li>
                            
            {{/each}}
            </ul>
        </div>
    </div>
    <div class="row my-5 justify-content-center">
        <div class="col justify-content-center">
            <a href="http://localhost:8080"><button type="button" class="btn btn-info bbtt">Volver al
                    inicio</button></a>

        </div>
    </div>
</div>